In [239]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

In [224]:
wi_95 = pd.read_csv('Data/wi_95.csv')
wi_100 = pd.read_csv('Data/wi_100.csv')
wi_150 = pd.read_csv('Data/wi_150.csv')
lo_95 = pd.read_csv('Data/lo_95.csv')
lo_100 = pd.read_csv('Data/lo_100.csv')
lo_150 = pd.read_csv('Data/lo_150.csv')
index_95 = pd.read_csv('Data/index_95.csv')
index_100 = pd.read_csv('Data/index_100.csv')
index_150 = pd.read_csv('Data/index_150.csv')
choice_95 = pd.read_csv('Data/choice_95.csv')
choice_100 = pd.read_csv('Data/choice_100.csv')
choice_150 = pd.read_csv('Data/choice_150.csv')

In [226]:
agg_choice_95 = choice_95.apply(pd.Series.value_counts, axis=1)

agg_choice_100 = choice_100.apply(pd.Series.value_counts, axis=1)

agg_choice_150 = choice_150.apply(pd.Series.value_counts, axis=1)

In [227]:
agg_choice_95["tot_win"] = wi_95.sum(axis=1)
agg_choice_95["tot_los"] = lo_95.sum(axis=1)

agg_choice_100["tot_win"] = wi_100.sum(axis=1)
agg_choice_100["tot_los"] = lo_100.sum(axis=1)

agg_choice_150["tot_win"] = wi_150.sum(axis=1)
agg_choice_150["tot_los"] = lo_150.sum(axis=1)


agg_choice_95.reset_index(inplace=True)
agg_choice_100.reset_index(inplace=True)
agg_choice_150.reset_index(inplace=True)

In [228]:
final_95 = pd.concat([agg_choice_95, index_95], axis=1)
final_100 = pd.concat([agg_choice_100, index_100], axis=1)
final_150 = pd.concat([agg_choice_150, index_150], axis=1)

In [229]:
final_150[1] = final_150[1].fillna(0)
final_150[2] = final_150[1].fillna(0)
final_150[4] = final_150[1].fillna(0)

In [230]:
final_150[1] = final_150[1].astype(int)
final_150[2] = final_150[2].astype(int)
final_150[3] = final_150[3].astype(int)
final_150[4] = final_150[4].astype(int)

In [231]:
temp = final_95.append(final_100)

In [232]:
final = temp.append(final_150)

In [233]:
final

      index   1   2   3   4  tot_win  tot_los  Subj     Study
0    Subj_1  12   9   3  71     5800    -4650     1  Fridberg
1    Subj_2  24  26  12  33     7250    -7925     2  Fridberg
2    Subj_3  12  35  10  38     7100    -7850     3  Fridberg
3    Subj_4  11  34  12  38     7000    -7525     4  Fridberg
4    Subj_5  10  24  15  46     6450    -6350     5  Fridberg
..      ...  ..  ..  ..  ..      ...      ...   ...       ...
93  Subj_94  24  24  13  24    12150   -11850    94   Wetzels
94  Subj_95   5   5  46   5     9300    -7150    95   Wetzels
95  Subj_96  18  18  37  18     9350    -7900    96   Wetzels
96  Subj_97  25  25  44  25    10250    -9050    97   Wetzels
97  Subj_98  11  11   6  11    13250   -15050    98   Wetzels

[617 rows x 9 columns]

In [234]:
# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
final['Study_no'] = labelencoder.fit_transform(final['Study'])

In [235]:
final

      index   1   2   3   4  tot_win  tot_los  Subj     Study  Study_no
0    Subj_1  12   9   3  71     5800    -4650     1  Fridberg         0
1    Subj_2  24  26  12  33     7250    -7925     2  Fridberg         0
2    Subj_3  12  35  10  38     7100    -7850     3  Fridberg         0
3    Subj_4  11  34  12  38     7000    -7525     4  Fridberg         0
4    Subj_5  10  24  15  46     6450    -6350     5  Fridberg         0
..      ...  ..  ..  ..  ..      ...      ...   ...       ...       ...
93  Subj_94  24  24  13  24    12150   -11850    94   Wetzels         7
94  Subj_95   5   5  46   5     9300    -7150    95   Wetzels         7
95  Subj_96  18  18  37  18     9350    -7900    96   Wetzels         7
96  Subj_97  25  25  44  25    10250    -9050    97   Wetzels         7
97  Subj_98  11  11   6  11    13250   -15050    98   Wetzels         7

[617 rows x 10 columns]

In [236]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')
#
enc_df = pd.DataFrame(enc.fit_transform(final[['Study_no']]).toarray())
# 
#
enc_df = enc_df.rename(columns={0: 'Fridberg', 1: 'Horstmann', 2: 'Kjome', 3: 'Maia', 6: 'SteingroverInPrep', 4: 'Premkumar', 8: 'Wood', 9: 'Worthy', 5: 'Steingroever2011', 7: 'Wetzels'})
final.reset_index(inplace=True)
enc = pd.concat([final, enc_df], axis=1)
enc

,level_0,index,1,2,3,4,tot_win,tot_los,Subj,Study,...,Fridberg,Horstmann,Kjome,Maia,Premkumar,Steingroever2011,SteingroverInPrep,Wetzels,Wood,Worthy
0,0,Subj_1,12,9,3,71,5800,-4650,1,Fridberg,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Subj_2,24,26,12,33,7250,-7925,2,Fridberg,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Subj_3,12,35,10,38,7100,-7850,3,Fridberg,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Subj_4,11,34,12,38,7000,-7525,4,Fridberg,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Subj_5,10,24,15,46,6450,-6350,5,Fridberg,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,93,Subj_94,24,24,13,24,12150,-11850,94,Wetzels,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
613,94,Subj_95,5,5,46,5,9300,-7150,95,Wetzels,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
614,95,Subj_96,18,18,37,18,9350,-7900,96,Wetzels,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
615,96,Subj_97,25,25,44,25,10250,-9050,97,Wetzels,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
616,97,Subj_98,11,11,6,11,13250,-15050,98,Wetzels,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [238]:
df = enc.drop(columns=['level_0', 'index', 'Subj', 'Study', 'Study_no'])
df

,1,2,3,4,tot_win,tot_los,Fridberg,Horstmann,Kjome,Maia,Premkumar,Steingroever2011,SteingroverInPrep,Wetzels,Wood,Worthy
0,12,9,3,71,5800,-4650,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,24,26,12,33,7250,-7925,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,12,35,10,38,7100,-7850,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11,34,12,38,7000,-7525,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10,24,15,46,6450,-6350,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,24,24,13,24,12150,-11850,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
613,5,5,46,5,9300,-7150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
614,18,18,37,18,9350,-7900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
615,25,25,44,25,10250,-9050,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
616,11,11,6,11,13250,-15050,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [241]:
scaler = preprocessing.StandardScaler().fit(df)

StandardScaler()

In [248]:
X_scaled = scaler.transform(df)

In [249]:
sd = pd.DataFrame(X_scaled, columns=['Deck_1', 'Deck_2', 'Deck_3', 'Deck_4', 'tot_win', 'tot_los', 'Fridberg', 'Horstmann', 'Kjome', 'Maia', 'Premkumar', 'Steingroever2011', 'SteingroverInPrep', 'Wetzels', 'Wood', 'Worthy'])
sd

,Deck_1,Deck_2,Deck_3,Deck_4,tot_win,tot_los,Fridberg,Horstmann,Kjome,Maia,Premkumar,Steingroever2011,SteingroverInPrep,Wetzels,Wood,Worthy
0,-0.477115,-1.421788,-1.089197,2.918559,-1.471413,1.525683,6.335087,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,-0.266797,-0.574231,-0.245229
1,1.024186,-0.217951,-0.668854,0.295972,-0.538613,0.135451,6.335087,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,-0.266797,-0.574231,-0.245229
2,-0.477115,0.419375,-0.762264,0.641049,-0.635110,0.167288,6.335087,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,-0.266797,-0.574231,-0.245229
3,-0.602224,0.348561,-0.668854,0.641049,-0.699441,0.305250,6.335087,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,-0.266797,-0.574231,-0.245229
4,-0.727332,-0.359579,-0.528740,1.193173,-1.053262,0.804036,6.335087,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,-0.266797,-0.574231,-0.245229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,1.024186,-0.359579,-0.622150,-0.325167,2.613607,-1.530705,-0.157851,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,3.748170,-0.574231,-0.245229
613,-1.352875,-1.705044,0.919107,-1.636460,0.780173,0.464437,-0.157851,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,3.748170,-0.574231,-0.245229
614,0.273535,-0.784463,0.498764,-0.739259,0.812338,0.146063,-0.157851,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,3.748170,-0.574231,-0.245229
615,1.149295,-0.288765,0.825698,-0.256151,1.391318,-0.342110,-0.157851,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,3.748170,-0.574231,-0.245229
616,-0.602224,-1.280161,-0.949083,-1.222367,3.321249,-2.889100,-0.157851,-0.596694,-0.178249,-0.263295,-0.205499,-0.319039,-0.35773,3.748170,-0.574231,-0.245229

In [250]:
sd.to_csv('Data/standardized_data.csv')